<settings>
    <setting propertyKey="@Properties.PocketCastsEmail" title="PocketCasts Email">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.PocketCastsPassword" title="PocketCasts Password">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.useMockData" title="Use Demo Data">
        <settingConfig type="boolean"/>
    </setting>
</settings>
